.content-page {
  width: 100%;
  height: 50%;
  padding-top: 5vh;

  display: flex;

  align-items: center;
  justify-content: space-around;
}
.about-event {
  width: 700px;
  height: 400px;

  padding-left: 30px;
  line-height: 1em;
}
.about-tedx {
  width: 400px;
  height: 400px;
  border: 1px solid rgb(246, 240, 240);
  outline: 1px solid white;
  padding: 20px;
}
.about-event h1,
p,
h4 {
  color: black;
}
.about h2 {
  font-size: 45px;
  color: #272727;
  padding-bottom: 20px;
}
.about {
  padding-bottom: 20px;
}
.line {
  width: 70px;
  height: 4px;
  background-color: red;
  border: 2px solid red;
}
.para {
  font-size: 18px;
  color: #272727;
  padding-top: 30px;
  text-align: justify;
}
.tedx {
  font-size: 17px;
  color: #272727;
  text-align: justify;
  line-height: 1.5em;
}
.ted {
  font-size: 18px;
  color: black;
  text-align: left;
}
@media screen and (max-width:1231px){
  .about-event{
    width: 400px;
  height: 200px;

  }
  .line{
    width: 50px;
    height: 3px;
  }
  .about h2 {
    font-size: 25px;
    padding-bottom: 5px  ;
  }
    .para{
      font-size: 10px;
      padding-top: 5px;
    }
    .content-page {
     
      height: 40vh;
      padding-top: 5vh;}
      .about-tedx {
        width: 200px;
        height: 200px;
        
      }
      .tedx {
        font-size: 10px;
        
        text-align: justify;
        
      }
      .ted {
        font-size: 18px;
        
      }
}
@media screen and (max-width:768px){

 .content-page{
 padding-top: 1vh;
   flex-wrap: wrap;
   height: 50vh;
 }
   .about-tedx {
     flex-wrap: wrap;
    width: 350px;
    height: 100px;
    
   
    
  }
  .about-event{
    width: 400px;
  height: 150px;
  padding-bottom: 2px;

  }
  .tedx ,.para{
    font-size: 10px;
    padding-bottom: 1px;
    text-align: justify;
    
  }
  .ted,.about h2 {
    padding-bottom: 0px;
    font-size: 13px;
    
  }
  .line{
    width: 30px;
    height: 1px;
  }
 
  
}
