.footer-page {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  padding-bottom: 10px;
  height: 4vh;

}

.text-style {

  font-size: 14px;
}

.desclimer-side {
  padding: 30px;
  width: 600px;
  height: 100px;
}

.social-media {
  padding: 30px;
  width: 400px;
  height: 100px;
}

.fa {
  color: grey;
}

.icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-right: 100px;
  justify-content: space-around;
  align-items: center;
}