.footer-page {
  width: 100%;
  height: 50%;
  padding-top: 10vh;

  display: flex;

  align-items: center;
  justify-content: space-around;
}
.footer-logo {
  padding: 25px;
  height: 5vh;
  padding-left: 50px;
}
.disclaimer {
  text-align: center;
  font-size: 14px;
}
.desclimer-side {
  width: 700px;
  height: 400px;

  padding-left: 30px;
  line-height: 1em;
}
.social-media {
  width: 400px;
  height: 400px;

  padding: 20px;
}
