* {
  margin: 0;
  padding: 0;
}

.container {
  height: 8vh;
  width: 100%;
  background-color: rgb(7, 7, 14);
  position: relative;
  overflow: hidden;
  outline: 1px solid white;
  top: 0;
  position: sticky;
  z-index: 99;
}

.nav-items {
  float: none;
  position: absolute;
  top: 50%;
  left: 85%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.nav-items a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 50px 19px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-items a:hover {
  color: rgb(123, 110, 110);
  font-size: 17px;
}

.nav-items a.register {
  background-color: #aa0404d7;
}

.logo {
  display: inline-block !important;
  max-height: 43px !important;
  position: absolute !important;
  top: 15px !important;

  left: 17px !important;
}
.underline {
  margin-top: 5px;
  width: 45px;
  height: 0.005px;
  background-color: white;
  border: 1px solid white;
}

@media screen and (max-width: 1241px) {
  .nav-items a {
    font-size: 12px;

    padding: 15px 5px;
  }
  .container {
    height: 9vh;
  }

  .underline {
    display: none;
  }
  .logo {
    display: inline-block !important;
    max-height: 30px !important;
    position: absolute !important;
    top: 10px !important;

    left: 19px !important;
  }
}
@media screen and (max-width: 768px) {
  .nav-items a {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .logo {
    display: inline-block;
    max-height: 30px;
    position: absolute;
    top: 15px;

    left: 10px;
  }
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}
