.venuepage {
  position: relative;
  text-align: center;

  width: 100%;
  height: 30%;
}
.venuepage img {
  width: 100%;
  height: 30%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.venue {
  /* display-block font-family-alt font-weight-900 letter-spacing-2 text-uppercase text-white xs-title-extra-large-4 title-extra-large-4 */

  font-size: 70px;

  font-weight: 900;
  line-height: 2;
  text-transform: uppercase;
}
.address {
  font-size: 28px;
  margin: 18.5px 0 0;
  letter-spacing: 1px;
  padding-bottom: 50px;
}
.btn {
  outline: 3px solid white;

  padding: 20px;
  width: 100px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.venuepage h3,
p,
a {
  color: white;
}
@media screen and (max-width:1231px){
  .venue{
    font-size: 50px;
  }
  .address {
    font-size: 40px;
    padding-bottom: 40px;
  }
  .btn {
    padding: 10px;
  width: 100px;
  height: 40px;
    font-size: 30px;
  }
  
}
@media screen and (max-width:768px){

  .venue{
    font-size: 20px;
  }
  .address {
    font-size: 10px;
    padding-bottom: 20px;
  }
  .btn {
    padding: 5px;
    width: 50px;
    height: 10px;
    font-size: 5px;
  }
  
}